@charset "UTF-8";
/*
****************************************************************************************************************
N.B please don't write any styling in this file. This file is used only to import the styles from the framework.
****************************************************************************************************************
*/
/**
  Main sass file.
 */
/**
  Configuration settings of the theme.
 */
/**
*********************
* Variables
********************
**/
/**
  * Font sizes and spacing/widths
  * -----------------------------------------------------------------------------
  */
/* Font familys */
/* Font weight */
/* Font sizes */
/* Transitions */
/* Breakpoints */
/* Spacings and widths */
/** Button settings **/
/** Menu settings **/
/* Drupal Default Messages */
/**
*********************
* Colors
********************
**/
/* Brand Colors */
/** Add any additional color supplied in the style guide **/
/* Grayscale colors */
/* Accent colors. Primarily used for buttons */
/** Button & Link colors **/
/* Third party brand colors */
/**
  Base settings for the theme
 */
/* ==========================================================================
  Normalize.scss settings
  ========================================================================== */
/**
* Includes legacy browser support IE6/7
*
* Set to false if you want to drop support for IE6 and IE7
*/
/* Base
  ========================================================================== */
/**
* 1. Set default font family to sans-serif.
* 2. Prevent iOS and IE text size adjust after device orientation change,
*    without disabling user zoom.
* 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
*  `em` units.
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800|PT+Serif:400,700");
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
* Remove default margin.
*/
body {
  margin: 0;
}

/* HTML5 display definitions
  ========================================================================== */
/**
* Correct `block` display not defined for any HTML5 element in IE 8/9.
* Correct `block` display not defined for `details` or `summary` in IE 10/11
* and Firefox.
* Correct `block` display not defined for `main` in IE 11.
*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
* 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
* 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
*/
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
* Prevents modern browsers from displaying `audio` without controls.
* Remove excess height in iOS 5 devices.
*/
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
* Address `[hidden]` styling not present in IE 8/9/10.
* Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
*/
[hidden],
template {
  display: none;
}

/* Links
  ========================================================================== */
/**
* Remove the gray background color from active links in IE 10.
*/
a {
  background-color: transparent;
}

/**
* Improve readability of focused elements when they are also in an
* active/hover state.
*/
a:active, a:hover {
  outline: 0;
}

/* Text-level semantics
  ========================================================================== */
/**
* Address styling not present in IE 8/9/10/11, Safari, and Chrome.
*/
abbr[title] {
  border-bottom: 1px dotted;
}

/**
* Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
*/
b,
strong {
  font-weight: bold;
}

/**
* Address styling not present in Safari and Chrome.
*/
dfn {
  font-style: italic;
}

/**
* Address variable `h1` font-size and margin within `section` and `article`
* contexts in Firefox 4+, Safari, and Chrome.
*/
/**
* Addresses styling not present in IE 8/9.
*/
mark {
  background: #ff0;
  color: #000;
}

/**
* Address inconsistent and variable font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
* Prevent `sub` and `sup` affecting `line-height` in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
  ========================================================================== */
/**
* 1. Remove border when inside `a` element in IE 8/9/10.
* 2. Improves image quality when scaled in IE 7.
*/
img {
  border: 0;
}

/**
* Correct overflow not hidden in IE 9/10/11.
*/
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
  ========================================================================== */
/**
* Address margin not present in IE 8/9 and Safari.
*/
figure {
  margin: 1em 40px;
}

/**
* Address differences between Firefox and other browsers.
*/
hr {
  box-sizing: content-box;
  height: 0;
}

/**
* Contain overflow in all browsers.
*/
pre {
  overflow: auto;
}

/**
* Address odd `em`-unit font size rendering in all browsers.
* Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
*/
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
  ========================================================================== */
/**
* Known limitation: by default, Chrome and Safari on OS X allow very limited
* styling of `select`, unless a `border` property is set.
*/
/**
* 1. Correct color not being inherited.
*  Known issue: affects color of disabled elements.
* 2. Correct font properties not being inherited.
* 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
* 4. Improves appearance and consistency in all browsers.
*/
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
* Address `overflow` set to `hidden` in IE 8/9/10/11.
*/
button {
  overflow: visible;
}

/**
* Address inconsistent `text-transform` inheritance for `button` and `select`.
* All other form control elements do not inherit `text-transform` values.
* Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
* Correct `select` style inheritance in Firefox.
*/
button,
select {
  text-transform: none;
}

/**
* 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
*  and `video` controls.
* 2. Correct inability to style clickable `input` types in iOS.
* 3. Improve usability and consistency of cursor style between image-type
*  `input` and others.
* 4. Removes inner spacing in IE 7 without affecting normal text inputs.
*  Known issue: inner spacing remains in IE 6.
*/
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
* Re-set default cursor for disabled elements.
*/
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
* Remove inner padding and border in Firefox 4+.
*/
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
* Address Firefox 4+ setting `line-height` on `input` using `!important` in
* the UA stylesheet.
*/
input {
  line-height: normal;
}

/**
* 1. Address box sizing set to `content-box` in IE 8/9/10.
* 2. Remove excess padding in IE 8/9/10.
*  Known issue: excess padding remains in IE 6.
*/
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
* Fix the cursor style for Chrome's increment/decrement buttons. For certain
* `font-size` values of the `input`, it causes the cursor style of the
* decrement button to change from `default` to `text`.
*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
* 1. Address `appearance` set to `searchfield` in Safari and Chrome.
* 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
*/
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
* Remove inner padding and search cancel button in Safari and Chrome on OS X.
* Safari (but not Chrome) clips the cancel button when the search input has
* padding (and `textfield` appearance).
*/
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
* Define consistent border, margin, and padding.
*/
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
* 1. Correct `color` not being inherited in IE 8/9/10/11.
* 2. Remove padding so people aren't caught out if they zero out fieldsets.
* 3. Corrects text not wrapping in Firefox 3.
* 4. Corrects alignment displayed oddly in IE 6/7.
*/
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
* Remove default vertical scrollbar in IE 8/9/10/11.
*/
textarea {
  overflow: auto;
}

/**
* Don't inherit the `font-weight` (applied by a rule above).
* NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
*/
optgroup {
  font-weight: bold;
}

/* ==========================================================================
   Functions
   ========================================================================== */
/* ==========================================================================
   Mixins
   ========================================================================== */
/** Breakpoints **/
/*From seven theme.*/
/*From seven theme.*/
/*
* @include triangle within a pseudo element and add positioning properties (ie. top, left)
* $direction: up, down, left, right
*/
/** Global styling **/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

body {
  margin: 0;
  background: #fff;
  color: #0f0f0f;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.layout-container {
  max-width: 65rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.layout-container-fluid {
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: none;
  width: auto;
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block;
}

/**
  Define the typography of the theme.
 */
/**
 * Typecsset
 *
 * Typecsset is a small, unopinionated library for creating beautifully set type
 * on the web. Typecsset gives perfect vertical rhythm at any configurable font
 * size, as well as many other typographical niceties.
 */
/*------------------------------------*\
    #SHARED
\*------------------------------------*/
/**
 * A lot of elements in Typecsset need to share some declarations (mainly for
 * vertical rhythm), so we `@extend` some silent classes.
 */
h1, h2, h3, h4, h5, h6, ul, ol, dd, p, address, pre, blockquote, table {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, ul, ol, dd, p, address, pre, blockquote, table {
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}

/*------------------------------------*\
    #BASE
\*------------------------------------*/
/**
 * 1. Set the base element’s `font-size` to the value of your choosing. Set in
 *    ems, assuming a browser default of 16px.
 * 2. Work out the unitless `line-height` for your project based around your
 *    desired `line-height` (defined previously in pixels), and your project’s
 *    base font size.
 */
html {
  font-size: 1em;
  /* [1] */
  line-height: 1.5;
  /* [2] */
}

body {
  margin: 0;
}

/*------------------------------------*\
    #HEADINGS
\*------------------------------------*/
h1 {
  font-size: 36px;
  font-size: 2.25rem;
  line-height: 1.33333;
}

h2 {
  font-size: 26px;
  font-size: 1.625rem;
  line-height: 1.84615;
}

h3 {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1;
}

h4 {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.2;
}

h5 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
}

h6 {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.71429;
}

/*------------------------------------*\
    #LISTS
\*------------------------------------*/
ul, ol, dd {
  margin-left: 48px;
  margin-left: 3rem;
}

li > ul,
li > ol {
  margin-bottom: 0;
}

/*------------------------------------*\
    #PARAGRAPHS
\*------------------------------------*/
/**
 * Not strictly a paragraph, but probably doesn’t need its own section.
 */
/*------------------------------------*\
    #CODE
\*------------------------------------*/
/**
 * 1. Fix an odd quirk whereby, without this, code blocks are rendered at a
 *    font-size smaller than 1em.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* [1] */
}

/*------------------------------------*\
    #QUOTES
\*------------------------------------*/
/**
 * 1. Hang the opening quote of the blockquote.
 */
blockquote {
  text-indent: -0.41em;
  /* [1] */
}

/**
 * Set up quote marks on quoting elements. This is very English-based, so we are
 * using “, ”, ‘, and ’ quotes.
 */
blockquote {
  quotes: "“" "”";
  margin-left: 48px;
  margin-left: 3rem;
}
blockquote p:before {
  content: "“";
  content: open-quote;
}
blockquote p:after {
  content: "";
  content: no-close-quote;
}
blockquote p:last-of-type:after {
  content: "”";
  content: close-quote;
}

q {
  quotes: "‘" "’" "“" "”";
  /**
   * If an element opens with an inline quote, let’s hang that.
   */
}
q:before {
  content: "‘";
  content: open-quote;
}
q:after {
  content: "’";
  content: close-quote;
}
q q:before {
  content: "“";
  content: open-quote;
}
q q:after {
  content: "”";
  content: close-quote;
}
q:first-child {
  display: inline-block;
  text-indent: -0.22em;
}

/*------------------------------------*\
    #TABLES
\*------------------------------------*/
/**
 * Crude table styles; tables are very difficult to keep on the baseline.
 */
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  max-width: 100%;
}

th,
td {
  padding: 12px;
}

/**
  Helper classes and animations to be used.
 */
/*---------- SPACING ----------*/
/*Padding*/
.p0 {
  padding: 0 !important;
}

.p1 {
  padding: 1rem;
}

.p2 {
  padding: 2rem;
}

.p3 {
  padding: 3rem;
}

.p4 {
  padding: 4rem;
}

.p5 {
  padding: 5rem;
}

.p6 {
  padding: 6rem;
}

/**@todo add padding-top, padding-bottom, padding-left, padding-righ**/
/*Margin*/
.m0 {
  margin: 0 !important;
}

.m1 {
  margin: 1rem;
}

.m2 {
  margin: 2rem;
}

.m3 {
  margin: 3rem;
}

.m4 {
  margin: 4rem;
}

.m5 {
  margin: 5rem;
}

.m6 {
  margin: 6rem;
}

/**@todo add margin-top, margin-bottom, margin-left, margin-righ**/
@-webkit-keyframes loaded {
  from {
    -moz-transform: translate(0, -4rem);
    -o-transform: translate(0, -4rem);
    -ms-transform: translate(0, -4rem);
    -webkit-transform: translate(0, -4rem);
    transform: translate(0, -4rem);
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: hidden;
  }
  to {
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
    filter: alpha(opacity=100);
    visibility: visible;
  }
}
@-moz-keyframes loaded {
  from {
    -moz-transform: translate(0, -4rem);
    -o-transform: translate(0, -4rem);
    -ms-transform: translate(0, -4rem);
    -webkit-transform: translate(0, -4rem);
    transform: translate(0, -4rem);
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: hidden;
  }
  to {
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
    filter: alpha(opacity=100);
    visibility: visible;
  }
}
@-ms-keyframes loaded {
  from {
    -moz-transform: translate(0, -4rem);
    -o-transform: translate(0, -4rem);
    -ms-transform: translate(0, -4rem);
    -webkit-transform: translate(0, -4rem);
    transform: translate(0, -4rem);
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: hidden;
  }
  to {
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
    filter: alpha(opacity=100);
    visibility: visible;
  }
}
@-o-keyframes loaded {
  from {
    -moz-transform: translate(0, -4rem);
    -o-transform: translate(0, -4rem);
    -ms-transform: translate(0, -4rem);
    -webkit-transform: translate(0, -4rem);
    transform: translate(0, -4rem);
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: hidden;
  }
  to {
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
    filter: alpha(opacity=100);
    visibility: visible;
  }
}
@keyframes loaded {
  from {
    -moz-transform: translate(0, -4rem);
    -o-transform: translate(0, -4rem);
    -ms-transform: translate(0, -4rem);
    -webkit-transform: translate(0, -4rem);
    transform: translate(0, -4rem);
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: hidden;
  }
  to {
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
    filter: alpha(opacity=100);
    visibility: visible;
  }
}
.not-loaded {
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: hidden;
}

.loaded {
  -webkit-animation: loaded 1s;
  -moz-animation: loaded 1s;
  -ms-animation: loaded 1s;
  -o-animation: loaded 1s;
  animation: loaded 1s;
}

/**
  Define the atomic component styling.
 */
/* ==========================================================================
   Image settings
   ========================================================================== */
/**/
img {
  max-width: 100%;
  height: auto;
}

/* ==========================================================================
   Link.scss settings
   ========================================================================== */
/**/
a {
  text-decoration: none;
  color: #0000d6;
  -webkit-transition: 0.25s color ease-in-out;
  -moz-transition: 0.25s color ease-in-out;
  -ms-transition: 0.25s color ease-in-out;
  -o-transition: 0.25s color ease-in-out;
  transition: 0.25s color ease-in-out;
}
a:hover {
  color: #0000bd;
}

/*==========================================================================
CTA
========================================================================== */
/**/
button.button--cta, .button.button--cta {
  position: relative;
  padding-right: 3rem;
  padding-left: 1rem;
}
button.button--cta:after, .button.button--cta:after {
  content: "\02192";
  position: absolute;
  margin-left: .875rem;
  -webkit-transition: 0.25s margin ease-in-out;
  -moz-transition: 0.25s margin ease-in-out;
  -ms-transition: 0.25s margin ease-in-out;
  -o-transition: 0.25s margin ease-in-out;
  transition: 0.25s margin ease-in-out;
}
button.button--cta:hover:after, .button.button--cta:hover:after {
  margin-left: 1rem;
}

a.cta:after {
  content: "\02192";
  position: absolute;
  margin-left: .875rem;
  -webkit-transition: 0.25s margin ease-in-out;
  -moz-transition: 0.25s margin ease-in-out;
  -ms-transition: 0.25s margin ease-in-out;
  -o-transition: 0.25s margin ease-in-out;
  transition: 0.25s margin ease-in-out;
}
a.cta:hover:after {
  margin-left: 1rem;
}

/* ==========================================================================
   Button
   ========================================================================== */
/**/
button, .button {
  display: inline-block;
  border: none;
  text-decoration: none;
  background-color: #0000d6;
  color: #fff;
  padding: 0.5rem 2rem;
  margin: 0 0 2rem;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .5px;
  border-radius: 2px;
  text-align: center;
  position: relative;
  outline: none;
  -webkit-transition: 0.25s all ease-in-out;
  -moz-transition: 0.25s all ease-in-out;
  -ms-transition: 0.25s all ease-in-out;
  -o-transition: 0.25s all ease-in-out;
  transition: 0.25s all ease-in-out;
  cursor: pointer;
}
button:hover, .button:hover {
  background-color: #0000bd;
  color: #fff;
}
button.button--rounded, .button.button--rounded {
  border-radius: 1.5rem;
}
button.button--outline, .button.button--outline {
  background: #fff;
  border: 1px solid #0000d6;
  color: #0000d6;
}
button.button--outline:hover, .button.button--outline:hover {
  border-color: #0000bd;
  color: #0000bd;
}
button.button--text, .button.button--text {
  background: transparent;
  border: none;
  color: #484848;
  text-decoration: underline;
  text-transform: capitalize;
}
button.button--text:hover, .button.button--text:hover {
  background: #EEEEEE;
}
button.button--small, .button.button--small {
  padding: 0rem 1.5rem;
}
button.button--big, .button.button--big {
  padding: 1rem 2.5rem;
}

/* ==========================================================================
   Title.scss settings
   ========================================================================== */
/**/
h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  color: #0f0f0f;
  letter-spacing: 0;
  font-weight: 600;
}

/* ==========================================================================
   paragraph.scss settings
   ========================================================================== */
/**/
p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  color: #1f1f1f;
  margin-bottom: 2.5rem;
}
p:last-child {
  margin-bottom: 0;
}

.path-node p {
  font-family: "PT Serif", serif;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.2;
  line-height: 1.65;
  font-weight: 400;
  margin-bottom: 2.5rem;
}
.path-node p:last-child {
  margin-bottom: 0;
}

.site-navigation {
  position: relative;
  width: 100%;
  margin-bottom: 2rem;
  padding: .75rem 0;
  border-top: 1px solid #F5F5F5;
  border-bottom: 1px solid #F5F5F5;
  white-space: nowrap;
  background: #fff;
  z-index: 1;
}
.site-navigation.sticky {
  position: fixed;
  left: 0;
  top: 0;
  box-shadow: 0 1px 1.5rem #EEEEEE;
}
.site-navigation .site--main-menu {
  margin: 0 !important;
  padding: 0 !important;
  list-style-image: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.site-navigation .site--main-menu::-webkit-scrollbar {
  display: none;
}
.site-navigation .site--main-menu li {
  flex: 0 0 auto;
  margin-right: 1.75rem;
}
.site-navigation .site--main-menu li a {
  color: #6a6a6a;
  font-size: .875rem;
  text-transform: uppercase;
}
.site-navigation .site--main-menu li a.is-active {
  color: #0f0f0f;
  font-weight: 600;
}
.site-navigation .site--main-menu li a:hover {
  color: #0f0f0f;
}

.pager .pager__items {
  margin: 1rem 0;
  text-align: center;
}
.pager .pager__items .pager__item {
  display: inline-block;
  padding: 0 0.5rem;
}
.pager .pager__items .pager__item a {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.71429;
  color: #6a6a6a;
}
.pager .pager__items .pager__item a:hover {
  color: #0f0f0f;
}
.pager .pager__items .pager__item.is-active a {
  color: #0f0f0f;
}

/* ==========================================================================
   Search styling.
   ========================================================================== */
/**/
.search-block-form {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  height: auto;
  float: right;
}
.search-block-form form {
  position: relative;
}
.search-block-form form .form-search {
  width: 12rem;
  height: 1.35rem;
  font-size: .875rem;
  color: #484848;
  padding: .25rem 1rem;
  line-height: 1.5rem;
}
.search-block-form form .form-submit {
  position: absolute;
  font-size: 0;
  top: 0;
  right: 0;
  height: 1.35rem;
  width: 2rem;
  padding: 0;
  background: transparent url("../images/search.svg") no-repeat center center;
  margin: .35rem 0;
  border-left: 1px solid #EEEEEE;
}

.search-form {
  position: relative;
}
.search-form .form-type-search label {
  display: block;
  margin-bottom: 1rem;
  font-weight: 800;
  font-size: 0.75rem;
}
.search-form .form-type-search .form-search {
  width: 100%;
  height: 2.35rem;
  box-sizing: border-box;
  font-size: 1.25rem;
  color: #484848;
  padding: .25rem 1rem;
  line-height: 2.25rem;
}
.search-form .form-submit {
  position: absolute;
  font-size: 0;
  top: 2.25rem;
  right: 0;
  height: 1.35rem;
  width: 2rem;
  padding: 0;
  background: transparent url("../images/search.svg") no-repeat center center;
  margin: .35rem 0;
  border-left: 1px solid #EEEEEE;
}
.search-form .search-help-link {
  font-size: 0.75rem;
  opacity: .8;
}

.search-results {
  margin: 3rem 0 0 0;
  padding-top: 3rem;
  border-top: 1px solid #EEEEEE;
}
.search-results li {
  margin: 0;
}

.local-tasks {
  margin: 0 0 1rem 0;
  padding: .5rem;
  border-top: 1px dotted #7f7f7f;
  border-bottom: 1px dotted #7f7f7f;
}
.local-tasks li {
  display: inline-block;
  padding: 0 1rem 0 0;
}
.local-tasks li a {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.71429;
  color: #6a6a6a;
}
.local-tasks li a:hover {
  color: #0f0f0f;
}

/* ==========================================================================
   Messages settings
   ========================================================================== */
/**/
.messages {
  overflow: auto;
  box-sizing: border-box;
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 1rem 1rem 1rem 2rem;
  color: #fff;
  border-width: 0 0 0 0.5rem;
  border-style: solid;
  border-color: #353641;
  border-radius: 0.2rem;
  background-color: #353641;
  background-position: 0.5rem center;
  background-repeat: no-repeat;
}
.messages pre {
  margin: 0;
}
.messages__header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.messages--error {
  border-color: #e34f4f;
  background-image: url("../images/error.svg");
}
.messages--error a {
  color: #e34f4f;
}
.messages--status {
  border-color: #42a877;
  background-image: url("../images/status.svg");
}
.messages--warning {
  border-color: #e0ac00;
  background-image: url("../images/warnning.svg");
}
.messages a {
  text-decoration: underline;
  color: #e0ac00;
}
.messages a:hover {
  color: #fff;
}
.messages__title {
  margin: 0 0 0 5rem;
  font-size: 1rem;
}
.messages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.messages__item + .messages__item {
  margin-top: 0.8rem;
}

table {
  width: 100%;
  border: none;
  border-collapse: separate;
  border-spacing: 0;
}
table caption {
  margin-bottom: 1rem;
  text-align: center;
  font-weight: 600;
}
table td, table th {
  font-size: 0.875rem;
  line-height: 1rem;
  font-weight: 600;
  border: none;
  padding: 0.75rem 1.25rem;
}
table tr th {
  font-weight: 800;
  font-size: 0.75rem;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #1f1f1f;
  border-right: 1px solid #7f7f7f;
}
table tr td {
  text-align: left;
  border-right: 1px solid #7f7f7f;
  border-bottom: 1px solid #7f7f7f;
}
table tr td:first-child {
  border-left: 1px solid #7f7f7f;
}

input:not([type="radio"], [type="checkbox"], [type="submit"]),
select,
textarea {
  max-width: 100%;
  padding: 0.8rem;
  border: 1px solid #9d9d9d;
  outline: none;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1rem;
}
input:not([type="radio"], [type="checkbox"], [type="submit"]):focus,
select:focus,
textarea:focus {
  /* border: 1px solid blue; */
  outline: 5px auto Highlight;
  outline: 5px auto -webkit-focus-ring-color;
}
input:not([type="radio"], [type="checkbox"], [type="submit"])::placeholder,
select::placeholder,
textarea::placeholder {
  color: #6a6a6a;
}

label:not(.option) {
  display: block;
  width: 100%;
  margin-bottom: 0.2rem;
  font-weight: 600;
}

/**
  Define the styling of the semantic components.
 */
header {
  padding: 1.25rem 0;
}
header .layout-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
header .layout-container .header__left {
  display: none;
}
@media only screen and (min-width: 64rem) {
  header .layout-container .header__left {
    display: block;
    margin-left: -1rem;
  }
}
header .layout-container .header__right {
  margin-right: -1rem;
  text-align: right;
}
header .layout-container .header__left, header .layout-container .header__branding, header .layout-container .header__right {
  flex: 0 0 34.33%;
  padding-left: 1rem;
  padding-right: 1rem;
}
header .layout-container .header__branding {
  text-align: left;
  margin-left: -1rem;
}
@media only screen and (min-width: 64rem) {
  header .layout-container .header__branding {
    text-align: center;
    margin-left: 0;
  }
}
header a {
  color: #484848;
  font-size: 0.75rem;
}
header .user--account-menu {
  margin: 0 !important;
  padding: 0 !important;
  list-style-image: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
header .user--account-menu > li {
  margin-right: 1rem;
}

#main-wrapper.sticky {
  margin-top: 4.8rem;
}

.featured, .featured-bottom {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer {
  background: #1f1f1f;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin-top: 1.5rem;
  color: #F5F5F5;
  font-size: 85%;
}
.footer h2, .footer h3, .footer h4, .footer h5, .footer h6 {
  color: #EEEEEE;
  font-size: 1.2rem;
  margin-bottom: .25rem;
}
.footer p, .footer a {
  color: #7f7f7f;
  font-size: .875rem;
}
.footer p a {
  text-decoration: underline;
}
@media only screen and (min-width: 64rem) {
  .footer {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
  }
}
.footer .footer__top {
  display: none;
}
@media only screen and (min-width: 64rem) {
  .footer .footer__top {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-left: -1rem;
    margin-right: -1rem;
  }
  .footer .footer__top > div {
    flex: 1 1 auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.footer .footer__bottom {
  line-height: 3;
  padding: 0;
  margin: 0;
}
@media only screen and (min-width: 64rem) {
  .footer .footer__bottom {
    padding-top: 1rem;
    margin-top: 1rem;
    border-top: 1px solid #6a6a6a;
  }
}
.footer .footer__bottom .menu--footer .menu {
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.footer .footer__bottom .menu--footer .menu .menu-item {
  padding: .5rem;
}
.footer .footer__bottom .menu--footer .menu .menu-item a {
  color: #7f7f7f;
}

/**
  Define the styling of the structured pages in the theme.
 */
.header .button {
  margin-bottom: 0;
}

.node--type-article.node--view-mode-teaser {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 3.5rem;
}
.node--type-article.node--view-mode-teaser .node__content {
  flex: 1 1 auto;
  padding-right: 0.5rem;
}
.node--type-article.node--view-mode-teaser .node__content-desktop {
  display: none;
}
.node--type-article.node--view-mode-teaser .node__content-mobile {
  display: block;
}
@media only screen and (min-width: 64rem) {
  .node--type-article.node--view-mode-teaser .node__content {
    padding-right: 2rem;
  }
  .node--type-article.node--view-mode-teaser .node__content-mobile {
    display: none;
  }
  .node--type-article.node--view-mode-teaser .node__content-desktop {
    display: block;
  }
}
.node--type-article.node--view-mode-teaser .node__content h2 {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.33333;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-bottom: .5rem;
}
@media only screen and (min-width: 64rem) {
  .node--type-article.node--view-mode-teaser .node__content h2 {
    font-size: 24px;
    font-size: 1.5rem;
  }
}
.node--type-article.node--view-mode-teaser .node__content p {
  display: none;
}
@media only screen and (min-width: 64rem) {
  .node--type-article.node--view-mode-teaser .node__content p {
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.71429;
    color: #6a6a6a;
    margin-bottom: .25rem;
  }
}
.node--type-article.node--view-mode-teaser .node__content .node__content-bottom {
  margin: .5rem 0;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.71429;
}
.node--type-article.node--view-mode-teaser .node__content .node__content-tags {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 2;
  line-height: 4;
}
.node--type-article.node--view-mode-teaser .node__content .node__content-tags .field__label {
  display: none;
}
.node--type-article.node--view-mode-teaser .node__content .node__content-tags .field__items {
  display: inline-flex;
}
.node--type-article.node--view-mode-teaser .node__content .node__content-tags .field__items .field__item {
  display: inline;
  margin-left: .75rem;
}
.node--type-article.node--view-mode-teaser .node__content .node__content-tags .field__items .field__item a {
  padding: .5rem;
  color: #484848;
  background: #EEEEEE;
}
.node--type-article.node--view-mode-teaser .node__content .node__content-tags .field__items .field__item a:hover {
  color: #0f0f0f;
}
.node--type-article.node--view-mode-teaser .node__media {
  flex: 1 0 100px;
}
@media only screen and (min-width: 64rem) {
  .node--type-article.node--view-mode-teaser .node__media {
    flex: 1 0 12.5rem;
  }
}

.path-node .main-content {
  max-width: 42rem;
  margin: auto;
}
.path-node .node .node__submitted {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.71429;
  color: #6a6a6a;
  margin: .5rem 0 1.5rem;
}
.path-node .node .field--type-image {
  width: 120%;
  margin-left: -4.5rem;
  margin-bottom: 2rem;
}
.path-node .node .field--type-image img {
  width: 100%;
}
.path-node .node .field--type-text-with-summary figure.align-left {
  margin-left: -5rem;
}
.path-node .node .field--type-text-with-summary figure.align-right {
  margin-left: 5rem;
}
.path-node .node .field--type-text-with-summary figure figcaption {
  font-size: 10px;
  font-size: 0.625rem;
  line-height: 2.4;
  color: #6a6a6a;
}
.path-node .node .field--type-text-with-summary p img {
  margin: 1.5rem -3rem;
  min-width: 120%;
}
.path-node .node .field--name-field-tags {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 2;
  line-height: 4;
  margin: 2rem 0;
}
.path-node .node .field--name-field-tags .field__label {
  display: none;
}
.path-node .node .field--name-field-tags .field__items {
  display: inline-block;
}
.path-node .node .field--name-field-tags .field__items .field__item {
  display: inline;
  margin-right: .75rem;
}
.path-node .node .field--name-field-tags .field__items .field__item a {
  padding: .5rem;
  color: #484848;
  background: #EEEEEE;
}
.path-node .node .field--name-field-tags .field__items .field__item a:hover {
  color: #0f0f0f;
}

.comment-form label {
  font-weight: 600;
  margin-bottom: 0.5rem;
  display: inline-block;
}
.comment-form .form-item-subject-0-value {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  margin-bottom: 1.25rem;
  max-width: 100%;
}
.comment-form .form-item-subject-0-value label {
  margin-bottom: 0;
}
.comment-form .form-item-subject-0-value .js-text-full {
  border: none;
  border-bottom: 1px solid #0f0f0f;
  outline: none;
}
.comment-form .form-wrapper {
  margin: 1rem 0;
}
.comment-form input[type="submit"] {
  border-radius: 0.25rem;
  line-height: 1.5rem;
}
