/**
*********************
* Variables
********************
**/

/**
  * Font sizes and spacing/widths
  * -----------------------------------------------------------------------------
  */

/* Font familys */
$font-family--primary: 'Open Sans', sans-serif;
$font-family--secondary: 'PT Serif', serif;

/* Font weight */
$font--light: 300;
$font--regular: 400;
$font--semibold: 600;
$font--bold: 800;

/* Font sizes */
$font-size--small: .75rem;
$font-size--base: 1rem;
$font-size--large: 1.5rem;

/* Transitions */
$transition-time--base: .25s;

/* Breakpoints */
$bp-smaller-than-mobile: "max-width: 40rem" !default;
$bp-smaller-than-tablet: "max-width: 64rem" !default;
$bp-smaller-than-desktop: "max-width: 75rem" !default;
$bp-larger-than-mobile: "min-width: 40rem" !default;
$bp-larger-than-tablet: "min-width: 64rem" !default;
$bp-larger-than-desktop: "min-width: 75rem" !default;

/* Spacings and widths */
$layout--container-max-width: 65rem;
$grid-columns: 12;
$grid--gutter: 1rem;
$spacing--small: .5rem;
$spacing--medium: 1rem;
$spacing--large: 1.5rem;

/** Button settings **/
$button--padding-left: 2rem !default;
$button--padding-right: 2rem !default;
$button--padding-top: 0.5rem !default;
$button--padding-bottom: 1rem !default;
$button--horizontal-padding: $button--padding-left;
$button--vertical-padding: $button--padding-top;

/** Menu settings **/
$menu--link-padding-left: 1rem;
$menu--link-padding-right: 1rem;
$menu--link-padding-top: .75rem;
$menu--link-padding-bottom: .75rem;
$menu--link-padding-horizontal: 1rem;
$menu--link-padding-vertical: .75rem;
$menu--submenu-min-width: 12.5rem;

/* Drupal Default Messages */
$color--messages-background: #353641 !default;
$color--messages-border: #353641 !default;
$color--messages--error: #e34f4f !default;
$color--messages--status: #42a877 !default;
$color--messages--warning: #e0ac00 !default;