/* ==========================================================================
   Button
   ========================================================================== */
/**/

button, .button {
  display: inline-block;
  border: none;
  text-decoration: none;
  background-color: $color--accent;
  color: $color--accent-contrast;
  padding: $button--vertical-padding $button--horizontal-padding;
  margin: 0 0 2rem;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: $font--semibold;
  letter-spacing: .5px;
  border-radius: 2px;
  text-align: center;
  position: relative;
  outline: none;
  @include transition($transition-time--base all ease-in-out);
  cursor: pointer;
  &:hover {
    background-color: darken($color--accent, 5%);
    color: $color--accent-contrast;
  }
  &.button--rounded {
    border-radius: 1.5rem;
  }
  &.button--outline {
    background: $color--white;
    border: 1px solid $color--accent;
    color: $color--accent;
    &:hover {
      border-color: darken($color--accent, 5%);
      color: darken($color--accent, 5%);
    }
  }
  &.button--text {
    background: transparent;
    border: none;
    color: $color--dark-grey;
    text-decoration: underline;
    text-transform: capitalize;
    &:hover {
      background: $color--whisper;
    }
  }
  &.button--small {
    padding: $button--vertical-padding - .5rem $button--horizontal-padding - .5rem;
  }
  &.button--big {
    padding: $button--vertical-padding + .5rem $button--horizontal-padding + .5rem;
  }
}