
input:not([type="radio"],[type="checkbox"],[type="submit"]),
select,
textarea {
  max-width: 100%;
  padding: 0.8rem;
  border: 1px solid lighten($color--grey, 20%);
  outline: none;
  font-family: $font-family--primary;
  font-size: $font-size--base;
  font-weight: $font--semibold;
  line-height: 1.2;
  margin-bottom: 1rem;

  &:focus {
    /* border: 1px solid blue; */
    outline: 5px auto Highlight;
    outline: 5px auto -webkit-focus-ring-color;
  }

  &::placeholder {
    color: $color--grey;
  }
}

label:not(.option) {
  display: block;
  width: 100%;
  margin-bottom: 0.2rem;
  font-weight: $font--semibold;
}
