.pager {
  .pager__items {
    margin: 1rem 0;
    text-align: center;

    .pager__item {
      display: inline-block;
      padding: 0 0.5rem;

      a {
        @include typecsset-font-size(14px);
        color: $color--grey;

        &:hover {
          color: $color--black;
        }
      }
      &.is-active {
        a {
          color: $color--black;
        }
      }
    }
  }
}