/* ==========================================================================
   Search styling.
   ========================================================================== */
/**/

.search-block-form {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  height: auto;
  float: right;
  form {
    position: relative;
    .form-search {
      width: 12rem;
      height: 1.35rem;
      font-size: .875rem;
      color: $color--dark-grey;
      padding: .25rem 1rem;
      line-height: 1.5rem;
    }
    .form-submit {
      position: absolute;
      font-size: 0;
      top: 0;
      right: 0;
      height: 1.35rem;
      width: 2rem;
      padding: 0;
      background: transparent url('../images/search.svg') no-repeat center center;
      margin: .35rem 0;
      border-left: 1px solid $color--whisper;
    }
  }
}

.search-form {
  position: relative;
  .form-type-search {
    label {
      display: block;
      margin-bottom: 1rem;
      font-weight: $font--bold;
      font-size: $font-size--small;
    }
    .form-search {
      width: 100%;
      height: 2.35rem;
      box-sizing: border-box;
      font-size: 1.25rem;
      color: $color--dark-grey;
      padding: .25rem 1rem;
      line-height: 2.25rem;
    }
  }
  .form-submit {
    position: absolute;
    font-size: 0;
    top: 2.25rem;
    right: 0;
    height: 1.35rem;
    width: 2rem;
    padding: 0;
    background: transparent url('../images/search.svg') no-repeat center center;
    margin: .35rem 0;
    border-left: 1px solid $color--whisper;
  }
  .search-help-link {
    font-size: $font-size--small;
    opacity: .8;
  }
}

.search-results {
  margin: 3rem 0 0 0;
  padding-top: 3rem;
  border-top: 1px solid $color--whisper;
  li {
    margin: 0;
  }
}
