.local-tasks {
  margin: 0 0 1rem 0;
  padding: .5rem;
  border-top: 1px dotted $color--light-grey;
  border-bottom: 1px dotted $color--light-grey;

  li {
    display: inline-block;
    padding: 0 1rem 0 0;

    a {
      @include typecsset-font-size(14px);
      color: $color--grey;

      &:hover {
        color: $color--black;
      }
    }
  }
}