table{
  width: 100%;
  border: none;
  border-collapse: separate;
  border-spacing: 0;

  caption{
    margin-bottom: 1rem;
    text-align: center;
    font-weight: $font--semibold;
  }

  td, th{
    font-size: 0.875rem;
    line-height: 1rem;
    font-weight: $font--semibold;
    border: none;
    padding: 0.75rem 1.25rem;
  }

  tr {
      th {
        font-weight: $font--bold;
        font-size: 0.75rem;
        color: $color--white;
        text-align: center;
        white-space: nowrap;
        background-color: $color--tertiary;
        border-right: 1px solid $color--light-grey;
      }

      td {
        text-align: left;
        border-right: 1px solid $color--light-grey;
        border-bottom: 1px solid $color--light-grey;

        &:first-child{
            border-left: 1px solid $color--light-grey;
        }
      }
  }
}
