/** Global styling **/

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix {
  @include clearfix();
}

body {
  margin: 0;
  background: $color--white;
  color: $color--black;
  font-family: $font-family--primary;
  font-size: $font-size--base;
  font-weight: $font--regular;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.layout-container {
  max-width: $layout--container-max-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: $grid--gutter * 1.5;
  padding-right: $grid--gutter * 1.5;
}

.layout-container-fluid {
  padding-left: $grid--gutter;
  padding-right: $grid--gutter;
  max-width: none;
  width: auto;
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block;
}
