.comment-form {
  label {
    font-weight: $font--semibold;
    margin-bottom: 0.5rem;
    display: inline-block;
  }

  .form-item-subject-0-value {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
    margin-bottom: 1.25rem;
    max-width: 100%;

    label {
      margin-bottom: 0;
    }

    .js-text-full {
      border: none;
      border-bottom: 1px solid $color--black;
      outline: none;
    }
  }

  .form-wrapper {
    margin: 1rem 0;
  }

  input[type="submit"] {
    border-radius: 0.25rem;
    line-height: 1.5rem;
  }
}
